<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.staff_monitoring_system">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_ams1_foreground"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo_ams1_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Student_details"
            android:exported="false" />
        <activity
            android:name=".Teacher_map_list"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGm0mcT41MrgPAkgOR1q98Zah339yfM90" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" /> <!-- <meta-data -->
        <!-- android:name="AIzaSyDGXYp7gijGFyMvukcasjttpMc5Bl1YN4I" -->
        <!-- android:value="YOUR_API_KEY" /> -->
        <activity
            android:name=".help"
            android:exported="false" />
        <activity
            android:name=".aboutus"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Attendance_subject" />
        <activity android:name=".Print_Attendance_Semester" />
        <activity android:name=".update_Students" />
        <activity android:name=".student_Dashboard" />
        <activity android:name=".student_Attendence" />
        <activity android:name=".student_Subjects" />
        <activity android:name=".Teacher_view" />
        <activity
            android:name=".splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>